{
  "extends": "stylelint-config-standard",
  "defaultSeverity": "error",
  "plugins": [
    "stylelint-order",
    "stylelint-declaration-strict-value",
    "stylelint-declaration-block-no-ignored-properties",
    "stylelint-high-performance-animation"
  ],
  "rules": {
    "declaration-no-important": [true, { "severity": "warning" }],
    "function-parentheses-space-inside": null,
    "max-nesting-depth": [
      3,
      {
        "ignoreAtRules": ["each", "media", "supports", "include"]
      }
    ],
    "no-descending-specificity": null,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": ["custom-elements"]
      }
    ],
    "order/properties-alphabetical-order": true,
    "scale-unlimited/declaration-strict-value": [
      ["/color/", "font-size"],
      {
        "ignoreKeywords": {
          "/color/": ["transparent", "inherit"],
          "font-size": ["inherit"]
        }
      }
    ],
    "plugin/declaration-block-no-ignored-properties": true,
    "plugin/no-low-performance-animation-properties": [true, { "severity": "warning" }]
  }
}
