:root {
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(0, 0, 0);
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-size-base: 10px;
  --font-size-default: 1.3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: rgb(51, 51, 51);
    --main-text-color: rgb(255, 255, 255);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-size: var(--font-size-base);
}
